<form name="myForm" class="col" method="POST" action="traitement.php">
<input  class="form-control" name="name" id="name" placeholder="Entrez le montant" >
            <button type="submit" class="btn btn-primary pull-right">Envoyer</button>


</form>